body {
    background: url(./imageedit_5_9832735155.png) no-repeat center center fixed;
    background-size: cover;
    color: #083D77;
}

#button {
    justify-content: center;
}

.madLibs {
    justify-content: center;
    text-align: center;
    background-color: rgba(164, 194, 168, 0.65);
    font-size: large;
    font-weight: bold;
    color: #F686BD;
    font-family: 'reenie beanie';
    border-radius: 12px;
}
h1 {
    text-align: center;
    font-family: 'reenie beanie';
    font-size: 50px;
}
::placeholder {
    color: #F686BD;
    font-family: 'reenie beanie';
    font-size: larger;
}
#mad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
div {
    padding-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
p {
    font-family: 'reenie beanie';
    text-align: center;
    font-size: 25px;
}
#blanks {
    color: #F686BD;
}
#story {
    margin-left: 50px;
    margin-right: 50px;
}

#button {
    border-radius: 12px;
    background-color:  rgba(164, 194, 168, 0.65);
    color: #F686BD;
    font-family: 'reenie beanie';
    font-size: 25px;
}

#button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 390px) {
    #story {
        font-size: 20px;
        margin-right: 75px;
    }
    #mad {
        display: grid;
        grid-template-columns: 10px 10px;
        font-size: 12px;
        grid-column-gap: 150px;
        margin-right: 150px;
    }
    .madLibs {
        font-size: 12px;
    }
    h1 {
        margin-right: 40px;
    }
    #answer {
        font-size: 20px;
    }
}